#note-container {
	background-color: #fff;
	margin: 10px;
	padding: 20px;
	border-radius: 15px;
}
.red {
	background-color: indianred;
	cursor: pointer;
}
.center {
	margin-top: 15px;
	text-align: center;
}

