/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap");
* {
  font-family: "Fira Code", monospace;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #edf1f5;
}
.container {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}
.note-title {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 11pt;
  color: #000;
}
.note-text {
  display: block;
  text-align: left;
  color: gray;
  font-size: 10pt;
}
input.ng-valid {
  background-color: #79ba6a;
}
input.ng-invalid {
  background-color: #f58c84;
}
